{% extends 'home_user/index.html.twig' %}

{% block info_file %}
    <div class="container-fluid info_file">
        
    </div>
{% endblock %}

{% block nav_user %}

    {% for message in app.flashes('success') %}
        <div class="text-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="text-white">
        <a class="nav-link"  href="{{  path('app_home_user')  }}">
            :: {{ app.user.getName }}
        </a>
    </div>
    {% for link in nav_folder %}
        {% if link.getTxt() != "" %}
            <div class="text-white">
             > 
            </div>
            <div class="text-white">
                <a class="nav-link"  href="{{  link.getId()  }}">{{  link.getTxt()  }}</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    {% for folders in folderChild %}
        <form hidden="" action="{{ path('folder_user', {id: folders.getId}) }}" method="get" >
            <button type="submite" class="folder{{folders.getId}}" ></button>
        </form>
        <div class="col-2 items-folder items__ m-2 d-flex flex-column justify-content-between" ondblclick="$('.folder{{folders.getId}}').click()" >
            <div class="action__ d-flex justify-content-end">
                <div class="fa fa-edit text-success mx-2 c-pointer" onclick="edit__( {{folders.getId}}, '{{folders.getName}}', '{{ path('edit_folder', {id: folders.getId}) }}' )" ></div>
                <a class="fa fa-trash text-danger mx-2 c-pointer" href=" {{ path('delete_folder', {id: folders.getId}) }} " ></a>
            </div>
            <div class="name_items text-white title_items">
                {{folders.getName}}
            </div>
        </div>
    {% endfor %}
    
    {% for file in files %}
        <div class="col-2 items-file items__ m-2 d-flex flex-column justify-content-between" ondblclick="window.location.href = '{{ path('read_file_user', {id: file.getId}) }}' " >
            <div class="action__ d-flex justify-content-end">
                <div class="fa fa-edit text-success mx-2 c-pointer" onclick="edit__( {{file.getId}}, '{{file.getName}}', '{{ path('edit_file', {id: file.getId}) }}' )" ></div>
                <a class="fa fa-trash text-danger mx-2 c-pointer" href=" {{ path('delete_file', {id: file.getId}) }} " ></a>
            </div>
            <div class="name_items text-white title_items" >
                {{file.getName}}
            </div>
        </div>
    {% endfor %}

{% endblock %}